<h1><%= t "headline" %></h1>

<table>
  <thead>
    <tr>
      <th><%= sortable "name", "Type" %></th>
      <th><%= sortable "color", "Color" %></th>
      <th><%= sortable "size", "Size" %></th>
      <th><%= sortable "price", "Price" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pumpkins.each do |pumpkin| %>
      <tr>
        <td><%= pumpkin.name %></td>
        <td><%= pumpkin.color %></td>
        <td><%= pumpkin.size %></td>
        <td><%= pumpkin.price %></td>
        <td><%= link_to (t "rowOptions.show"), pumpkin %></td>
        <td><%= link_to (t "rowOptions.edit"), edit_pumpkin_path(pumpkin) %></td>
        <td><%= link_to (t "rowOptions.destroy"), pumpkin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to (t "new Pumpkin"), new_pumpkin_path %>
<br>
<%= link_to 'Deutsch', locale: "de" %>
<%= link_to 'Русский', locale: "ru" %>
<%= link_to 'English', locale: "en" %>
<br>

